@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root {
    --primary-color: #4F46E5;
    --off-white: #F3F4F6;
    --dark-grey: #111827
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
hr {
    margin: 2rem 0rem;
}

.output_title {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

.textarea_style   {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}